.models-button {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
  padding-bottom: 5px;
  bottom: 0;  
  position: absolute;
  z-index: 1;
}

.models-button button:hover {
  color: #3a3535;
  border: none;
  cursor: pointer;
  transition: 0.6s;
  background: transparent;
}

.models-button button{
  background: linear-gradient(89deg, #3a3535 -50%, #8CA6DB 100% );
  color: black;
  background-color: transparent;
  }

button {
  border: none;
}

@media screen and (max-width: 800px) {
  .models-button {
    justify-content: center;
    width: 100%
  }
}