.models-button {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;  
  position: absolute;
  z-index: 1;
  border: none;	
}

.models-button button:hover {
  color: white;
  background-color: black;
  transition: 0.4s;
}

