
.box-modal {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	color: black;
}

.bounding-box {
	border: 1px solid blue;
	position: absolute;
	box-shadow: 0 0 0 3px #fff inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}

.apparel-box {
	border: 1px solid lightblue;
	position: absolute;
	box-shadow: 0 0 0 3px #fff inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}

