.main {
	display: flex;
	flex-direction:column;
	align-items:center

}


.particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.dropzone {
	height: 500px;
	margin: auto;
	display: flex;
	padding: 150px;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 35vw;
	flex-direction: column;
	border: 5px dashed #000000;
	background-color: lightgray;
	color: black;
	box-sizing: border-box;
}

