.main {
	display: flex;
	flex-direction:column;
	align-items:center;
	padding-bottom: 50px;
}


.particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.dropzone {
	height: fit-content;
	display: flex;
	padding: 100px;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 35vw;
	flex-direction: column;
	border: 5px dashed #000000;
    background: linear-gradient(89deg, #D7DDE8 -50%, #8CA6DB 100% );
	color: black;
}

 *::-webkit-scrollbar {
  width: 0.2rem;
}

*::-webkit-scrollbar-track {
  background: lightgray;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f64f59 30%, #7303c0 30%, #FF8C00 100%);
}
/*
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}*/